.flex:hover h2 {
  color: #23272e;
  transition: all;
  transition: color 0.3s ease;
}

.flex:hover div {
  /* background-color: red; */
  color: #23272e;
  transition: all;
  transition: color 0.3s ease;
}

.svgContainer {
  color: #8b909a;
}

.svgContainer:hover {
  color: #23272e;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.logo {
  color: #8b909a;
}
